<a href="https://colab.research.google.com/github/NARAEIM/tp2-da/blob/hm98112/%20%EC%9C%A0%ED%95%98%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
import seaborn

drive.mount('da')

Mounted at da

In [2]:
import pandas as pd

#데이터 불러오기
click_stream_new = pd.read_csv('/content/da/MyDrive/archive/click_stream_new.csv')
customer = pd.read_csv('/content/da/MyDrive/archive/customer.csv')

In [3]:
#데이터 불러오기
product = pd.read_csv('/content/da/MyDrive/archive/product.csv', skiprows = [6043, 6568, 7398, 7938, 9025, 10263, 10426, 10904, 11372, 11944, 14111, 14531, 15075, 29905, 31624, 33019, 35747, 35961, 37769, 38104, 38274, 38403])
transaction_new = pd.read_csv('/content/da/MyDrive/archive/transaction_new.csv')

# function

In [66]:
from datetime import datetime

def date_time_split(time_str):
  
  datetime_obj = datetime.datetime.fromisoformat(time_str)
  
  # 날짜와 시간 추출
  date = datetime_obj.strftime("%Y-%m-%d")
  time = datetime_obj.strftime("%H:%M:%S")
  
  return date, time

# click_stream

In [5]:
click_stream_new[:3]

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## feature

<h1>click_stream_new</h1>
session_id: 세션 아이디<br>
event_name: 사건의 이름<br>
event_time: 사건이 일어난 시간<br>
event_id: 사건 아이디<br>
traffic_source: 접속 방법<br>
product_id: 물건 아이디<br>
quantitiy: 물건 개수<br>
item_price: 물건 가격<br>
payment_status: 결제 상태<br>
search_keywords: 검색 키워드<br>
promo_code: 프로모션 코드<br>
promo_amount: 프로모션을 통한 할인 가격

In [6]:
len(click_stream_new)

12833602

## value_counts

In [7]:
#각 테이블 별 value_counts
for column in click_stream_new.columns:
  print(click_stream_new[column].value_counts())
  print('______________________________')

65383bfb-5535-445f-ab52-aec4658eb0bd    650
eb310630-8d65-4c59-8a33-a386b891ec74    650
d46877e2-9e20-4277-8698-647dee913a14    539
12489f38-0fc1-4b80-9fe4-b267c4413ae7    539
c22cb71e-f232-4930-9d59-85340bd98336    519
                                       ...
e9e6daf7-9369-4261-b51f-049d7736ead4      2
663c5044-5144-4d83-b34a-0573aa36cee8      2
582cf298-4b62-4ff8-8d50-2a371ec8608f      2
a3454191-6eeb-4b8a-b8bd-45cd0824ab1b      2
fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c      2
Name: session_id, Length: 895203, dtype: int64
______________________________
CLICK          2498038
HOMEPAGE       2487126
ADD_TO_CART    1937157
SCROLL         1663571
ITEM_DETAIL    1290396
SEARCH         1173266
BOOKING         852582
PROMO_PAGE      604931
ADD_PROMO       326535
Name: event_name, dtype: int64
______________________________
2021-05-02T11:28:41.047631Z    451
2021-06-27T04:54:12.223694Z    348
2021-01-27T16:31:07.016439Z    283
2022-03-27T23:50:33.575140Z    168
2021-07-20T11:05:55.743696Z    130
                              ...
2019-08-11T17:31:24.852506Z      1
2019-08-11T17:34:26.852506Z      1
2019-08-11T17:37:20.852506Z      1
2019-08-11T17:40:17.852506Z      1
2021-05-05T11:53:12.985835Z      1
Name: event_time, Length: 12814223, dtype: int64
______________________________
9c4388c4-c95b-4678-b5ca-e9cbc0734109    1
b15ad399-9ea0-4ecc-986a-01eaa8955776    1
a2d88daa-e6dd-4a77-a7b8-5e48738af4c8    1
2c3f3a94-09fd-4ef1-bee2-1441cac40654    1
abf3061c-b98e-42fb-8c69-3318ef832706    1
                                       ..
a50f54cc-3dcd-4bd9-ad7a-1a88664f5559    1
056296e2-371d-43e4-8f64-43784cff554b    1
0dba504b-4dd7-4846-8aab-87165903457a    1
33450c3e-e59f-447a-a8b6-101a26b80e20    1
3c60d8bc-b3e1-41fa-a87b-f65a9053856a    1
Name: event_id, Length: 12833602, dtype: int64
______________________________
MOBILE    11548304
WEB        1285298
Name: traffic_source, dtype: int64
______________________________
14804.0    131
8346.0     131
39631.0    128
3549.0     127
47600.0    126
          ...
19191.0     11
37594.0     11
32168.0     11
16206.0     10
24533.0      9
Name: product_id, Length: 44446, dtype: int64
______________________________
1.0     1614950
2.0      154655
3.0       62530
4.0       34567
5.0       21184
6.0       14191
7.0        9723
8.0        6737
9.0        4765
10.0       3421
11.0       2532
12.0       1837
13.0       1443
14.0       1110
15.0        830
16.0        612
17.0        472
18.0        338
19.0        284
20.0        217
21.0        184
22.0        117
23.0        104
24.0         70
25.0         59
27.0         51
26.0         49
29.0         21
28.0         20
31.0         16
33.0         14
32.0         11
34.0          8
35.0          7
36.0          6
38.0          5
40.0          4
30.0          4
41.0          3
39.0          2
48.0          1
37.0          1
42.0          1
43.0          1
Name: quantity, dtype: int64
______________________________
167395.0    37
233108.0    34
215994.0    33
160016.0    32
236645.0    32
            ..
446011.0     1
443433.0     1
79550.0      1
496374.0     1
62132.0      1
Name: item_price, Length: 460872, dtype: int64
______________________________
Success    815962
Failed      36620
Name: payment_status, dtype: int64
______________________________
Dress Kondangan    256194
Tas Wanita         128790
Bekas              112269
T-Shirt            100087
Baju                83873
Kaos                83759
Dress Pesta         76829
Sepatu Nike         51578
Tas Kerja           38677
Second Hand         28429
Second              28195
Thrift              28171
Sepatu              28029
Celana Panjang      28009
Barang Bekas        27818
Sepatu Adidas       25627
Sendal              12787
Celana              11739
T-shirt              7097
Jam                  7000
Topi                 4844
Baju Tidur           2268
Daster               1197
Name: search_keywords, dtype: int64
______________________________
AZ2022           89227
BUYMORE          66834
WEEKENDSERU      61941
XX2022           44744
LIBURDONG        20965
WEEKENDMANTAP    20448
SC2022           11271
STARTUP          11105
Name: promo_code, dtype: int64
______________________________
4645.0     95
4284.0     95
4573.0     93
3752.0     92
4784.0     91
           ..
21592.0     1
14822.0     1
15193.0     1
15029.0     1
14128.0     1
Name: promo_amount, Length: 15179, dtype: int64
______________________________

## EDA

In [8]:
click_stream_new[click_stream_new['session_id'] == 'd46877e2-9e20-4277-8698-647dee913a14'][:20]

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
8483986,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-10-27T02:02:43.401969Z,3f2e27d3-01ce-469b-88dc-85353dd0715e,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483987,d46877e2-9e20-4277-8698-647dee913a14,ADD_TO_CART,2021-10-31T04:17:14.401969Z,70947540-10ea-40e8-ab40-d5e05237907c,MOBILE,20248.0,1.0,326549.0,NaN,NaN,NaN,NaN
8483988,d46877e2-9e20-4277-8698-647dee913a14,ADD_TO_CART,2021-11-04T06:39:31.401969Z,80d56b40-704e-4f89-bc35-0c7725a01b99,MOBILE,5261.0,3.0,310500.0,NaN,NaN,NaN,NaN
8483989,d46877e2-9e20-4277-8698-647dee913a14,ADD_PROMO,2021-11-08T08:52:09.401969Z,e92b3ca1-9007-4405-83df-0a686fa24cc3,MOBILE,NaN,NaN,NaN,NaN,NaN,BUYMORE,4632.0
8483990,d46877e2-9e20-4277-8698-647dee913a14,BOOKING,2021-11-16T14:00:44.401969Z,c8655ddf-0472-41f4-a2c4-7307d3b02bb2,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
8483991,d46877e2-9e20-4277-8698-647dee913a14,CLICK,2021-10-31T04:21:58.401969Z,eae58fed-5007-4897-bf72-8b8898157deb,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483992,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-16T17:58:44.401969Z,d24f2ab9-717b-4852-bd6d-14d8f5b922f1,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483993,d46877e2-9e20-4277-8698-647dee913a14,ITEM_DETAIL,2021-11-16T22:00:38.401969Z,fcf1fa1f-5c0e-4565-a726-84598e07fe48,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483994,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-17T02:04:53.401969Z,ea364ebc-6ee2-48b5-855d-b74dda812184,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483995,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-17T06:05:19.401969Z,bd2c283d-8e67-4638-a364-7985f6c98141,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483996,d46877e2-9e20-4277-8698-647dee913a14,ITEM_DETAIL,2021-11-17T10:08:14.401969Z,b6273fb9-f234-42e6-a7bc-c8b07b4093f9,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483997,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-17T14:10:30.401969Z,15cfc494-32dc-4bfc-a482-e1fba5f26c6c,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483998,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-17T18:12:06.401969Z,07914619-0d8e-4bde-8717-8fefde1871bb,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483999,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-17T22:16:48.401969Z,5c114c81-aea3-4fb9-8366-0ca147e542f0,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484000,d46877e2-9e20-4277-8698-647dee913a14,SEARCH,2021-11-18T02:17:24.401969Z,afaa6b3d-ebbe-454a-876a-b66f060c89c1,MOBILE,NaN,NaN,NaN,NaN,Sepatu,NaN,NaN
8484001,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-18T06:23:21.401969Z,1b504d5c-c22d-4a0f-9647-69bf05f831a5,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484002,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-18T10:24:56.401969Z,0d255b26-067e-4352-ae52-0df6c0b9bcc8,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484003,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-18T14:32:23.401969Z,9fec9ec2-4e2b-45e9-8fb4-58bd2ccc50e5,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484004,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2021-11-18T18:38:26.401969Z,8f040ea0-0fb9-4377-8190-b5b18d449ea9,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484005,d46877e2-9e20-4277-8698-647dee913a14,ITEM_DETAIL,2021-11-18T22:42:02.401969Z,ef960b66-31c0-414a-ae90-1db646b90efc,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
click_stream_new[click_stream_new['session_id'] == 'd46877e2-9e20-4277-8698-647dee913a14'][-20:]

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
8484505,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-11T03:17:31.401969Z,dc52bbf2-c49a-48c4-b286-acc387a2d3d5,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484506,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-11T07:18:56.401969Z,1016c2d8-a13e-4fb1-92bf-722da56c9c7f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484507,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-11T11:25:05.401969Z,2e4d8562-8d54-4460-98e0-b7cd6723be6e,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484508,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-11T15:26:06.401969Z,4d602bf8-fc69-48c0-aa35-cce8d006806b,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484509,d46877e2-9e20-4277-8698-647dee913a14,CLICK,2022-02-11T19:28:55.401969Z,675de596-329d-4921-afa2-98553149d407,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484510,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-11T23:31:04.401969Z,3ab99012-3d5d-4474-8ca0-6bbef7b6745a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484511,d46877e2-9e20-4277-8698-647dee913a14,CLICK,2022-02-12T03:33:48.401969Z,84115233-982a-4bc2-9639-7cb6741b05ac,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484512,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-12T07:38:50.401969Z,a7454a51-6b26-479f-9bfe-3c185341817c,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484513,d46877e2-9e20-4277-8698-647dee913a14,CLICK,2022-02-12T11:42:05.401969Z,c6901803-cd35-472f-a93f-acf4bb3af97a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484514,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-12T15:41:51.401969Z,7a02f267-d343-4129-bfe3-0120b9473516,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484515,d46877e2-9e20-4277-8698-647dee913a14,ITEM_DETAIL,2022-02-12T19:41:46.401969Z,e81277ef-f956-4e5b-9d84-5726d2ec434a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484516,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-12T23:44:29.401969Z,bc2c519d-8d7c-47ad-bee9-1aad781c1869,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484517,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-13T03:46:05.401969Z,eae9ca9a-a064-40fa-8b02-33cdc8f886af,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484518,d46877e2-9e20-4277-8698-647dee913a14,ITEM_DETAIL,2022-02-13T07:47:45.401969Z,37802fb3-cb39-4d83-9932-34cbf2df04ab,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484519,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-13T11:53:54.401969Z,6e63e5aa-aaa7-4947-80ce-dfdb51677e11,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484520,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-13T15:57:32.401969Z,a190c2d2-b21d-4ac0-8bf7-98f38693d4b9,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484521,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-13T19:59:40.401969Z,8c922d9c-abaa-4a27-b7ce-e62f6ebfd6b1,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484522,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-13T23:58:59.401969Z,1f50227c-0ab7-4558-8159-bbb971c6c4aa,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484523,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-14T04:02:38.401969Z,07d6c951-91d4-4c69-af72-03d223b19a58,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8484524,d46877e2-9e20-4277-8698-647dee913a14,HOMEPAGE,2022-02-14T08:04:59.401969Z,de6af70d-74b9-4018-bd09-97c2a07cd97c,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#session_id 가 같은 데이터 확인

value_counts = click_stream_new['session_id'].value_counts()
result = value_counts[value_counts >= 300]
result

65383bfb-5535-445f-ab52-aec4658eb0bd    650
eb310630-8d65-4c59-8a33-a386b891ec74    650
d46877e2-9e20-4277-8698-647dee913a14    539
12489f38-0fc1-4b80-9fe4-b267c4413ae7    539
c22cb71e-f232-4930-9d59-85340bd98336    519
230b1fd1-595a-4d28-a75f-23ff686df302    483
756d0b19-5870-4bb8-aa74-611f85f9804f    477
17347e17-4a5a-4233-9763-ced580dec559    461
5842f8ad-0de9-44fe-9033-5f847d45a893    460
874ebe70-c835-4055-aaa8-b3ec4f21cb85    433
66e91a36-c5b4-4a83-9472-5255a47bf37f    429
a93fc441-3efb-4f61-8069-dc42c16a828f    420
be3261d2-fc30-473e-ad18-9a1fd3e032fd    417
8d798040-12a7-4b8e-841f-7cd39b7e4bec    410
13365b64-c5ae-429a-b28b-04e6f11397a6    398
7e303111-398f-45c9-b7ce-0d1b71879b0e    397
c7495f73-a4eb-4f3f-a3a5-b90dcbf972f9    389
7ff267cd-1f6c-45f5-8831-eaa32cd3acab    377
4f6ff090-201d-4e90-9648-e18b6f065df7    376
77b23548-2c35-469a-ba84-07d50bc0950f    367
8bf3a5ac-776a-4d79-8263-573dda22c5ca    367
a62c618a-958f-4207-80d3-9494b50c3d68    365
108f31a9-c0ad-4ed7-9a24-79f9834ece41    365
677da411-aa5b-4d06-971a-ba22a70b6753    363
f3023147-0a4a-4525-ab12-0700e388aedc    361
0052b8ba-7169-4a66-8299-ab04f27d281f    361
792bfbe9-450c-4ec9-9dc7-d2aebb121f68    359
d607cbb3-03af-46d2-b391-d266ed202fe8    356
3008db02-3565-4df1-b5f5-6376a8419a23    352
f36bc809-e258-499d-af90-a59e62d81c9a    351
0dedff6f-fd4b-4e5b-9d02-f5f5c7723bcc    344
3260301b-96d5-4fb2-a336-86506f545040    343
b4b164cb-e7b2-4196-9745-b3358cb58079    339
070a513c-46cf-4630-ba94-c42f1b6e97ff    339
76fbf701-3040-4cd3-8ec4-9a5dfa2df958    335
262eddd2-2f29-4b4c-a361-6ac699003016    335
f9e3a131-1e8c-4789-827e-fc8fbeab5469    334
d4cd8541-00a8-4c54-a32a-bbc67b602213    330
fb9b0642-e588-40c8-b5a8-13757e1ffae4    330
1162ab88-c79e-422b-94e7-442272623181    330
6abbcdfb-8b28-48a3-b744-d27f481580eb    329
c437f8ef-8a14-496d-bedf-9da1cd52a6a3    327
bf049ea2-f1f3-4434-a455-dc5d2e7a4b55    325
ad16c956-9c7f-476a-8733-703ddda6db6b    323
4a09718f-21b9-4059-90ab-cb1ec454187f    321
c2142d21-77b5-4f06-aca8-e2af59ea7d7f    318
6ccd9c54-036d-438e-8c6e-bca43d28390e    317
66c6a245-8640-4ea9-b71a-2f92fe8bd0ea    317
8c34badb-15d6-447d-a8af-16d55fb59d94    310
93fd1b36-385a-452f-a8b0-b3ec5e1c4e20    307
5eb9ea55-1631-40ee-ae09-0c8ffd906d7d    305
2ca553a9-8958-4066-bf8c-30f331d180fd    303
d95b9b82-1e0f-4108-9b26-32335d3475e2    303
339d4e70-4adf-42ce-9db4-906022650725    301
Name: session_id, dtype: int64

## 전처리

In [11]:
click_stream_event_date = []
click_stream_event_time = []
for row in click_stream_new['event_time']:
 date, time = date_time_split(row[:-1])
 click_stream_event_date.append(date)
 click_stream_event_time.append(time)

In [12]:
click_stream_new['event_date_new'] = click_stream_event_date
click_stream_new['event_time_new'] = click_stream_event_time

In [13]:
click_stream_new

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount,event_date_new,event_time_new
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06,15:54:32
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06,16:03:57
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-01,12:05:10
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN,2019-09-01,12:06:33
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN,2019-09-01,12:15:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12833597,ad1063b0-a6e5-40a9-aed6-d1b45741e571,SEARCH,2021-06-07T04:37:53.354381Z,4b3b91a5-9bda-44de-87dc-153367071dfc,MOBILE,NaN,NaN,NaN,NaN,Bekas,NaN,NaN,2021-06-07,04:37:53
12833598,64585e37-3fe7-48d7-b79b-ebcb70230eb2,HOMEPAGE,2021-05-05T11:44:14.985835Z,ab0acc87-9578-408a-b47f-c46996b8b52f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-05,11:44:14
12833599,64585e37-3fe7-48d7-b79b-ebcb70230eb2,ADD_TO_CART,2021-05-05T11:53:10.985835Z,230d7b67-9934-42f9-9509-b330ac6ae777,MOBILE,19820.0,1.0,88918.0,NaN,NaN,NaN,NaN,2021-05-05,11:53:10
12833600,64585e37-3fe7-48d7-b79b-ebcb70230eb2,BOOKING,2021-05-05T12:10:09.135142Z,8996ce49-c5dd-41ed-9231-28bfdb634cbe,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN,2021-05-05,12:10:09
12833601,64585e37-3fe7-48d7-b79b-ebcb70230eb2,SEARCH,2021-05-05T11:53:12.985835Z,3c60d8bc-b3e1-41fa-a87b-f65a9053856a,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN,2021-05-05,11:53:12

# 2. customer

In [14]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         100000 non-null  int64
 1   first_name          100000 non-null  object
 2   last_name           100000 non-null  object
 3   username            100000 non-null  object
 4   email               100000 non-null  object
 5   gender              100000 non-null  object
 6   birthdate           100000 non-null  object
 7   device_type         100000 non-null  object
 8   device_id           100000 non-null  object
 9   device_version      100000 non-null  object
 10  home_location_lat   100000 non-null  float64
 11  home_location_long  100000 non-null  float64
 12  home_location       100000 non-null  object
 13  home_country        100000 non-null  object
 14  first_join_date     100000 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 11.4+ MB

## feature

<h1>customer</h1>
customer_id: 고객 아이디<br>
first_name: 이름<br>
last_name: 성<br>
username: 유저 이름<br>
email: 이메일<br>
gender: 성별<br>
birthdate: 생일<br>
device_type: 기기 종류<br>
device_id: 장치 아이디<br>
device_version: 디바이스 버전<br>
home_location_lat: 집 위도<br>
home_location_long: 집 경도<br>
home_location: 집 위치<br>
home_country: 나라<br>
first_join_date: 처음 가입한 날짜 <br>

## value_counts

In [15]:
for column in customer.columns:
  print(customer[column].value_counts())
  print('______________________________')

2870     1
78034    1
81629    1
46669    1
56483    1
        ..
16708    1
30297    1
41212    1
25652    1
40573    1
Name: customer_id, Length: 100000, dtype: int64
______________________________
Rahmi      560
Putri      557
Eka        380
Ade        373
Kani       339
          ...
Harsana     53
Dacin       53
Budi        50
Eluh        48
Edward      48
Name: first_name, Length: 707, dtype: int64
______________________________
Susanti       1028
Palastri      1002
Andriani       998
Rahmawati      997
Yolanda        992
              ...
Iswahyudi      302
Hidayanto      302
Nababan        302
Tampubolon     301
Widodo         293
Name: last_name, Length: 173, dtype: int64
______________________________
671a0865-ac4e-4dc4-9c4f-c286a1176f7e    1
e32e587e-1146-4b78-aec4-91f739f58682    1
f713b56e-788e-4b07-959c-863b04462d44    1
1b44bafa-a611-4aa1-821e-c522d6d3769c    1
94973be4-399a-454c-aaff-a7ecd5465e56    1
                                       ..
9e636014-be43-4427-bb10-9aaad2d3dceb    1
1db5ae2d-951c-45b1-8d1d-e4c94eceb2e8    1
56770baa-f3dd-4c98-b623-15683ad5a2b1    1
1eaf8875-c331-45f8-a1bf-00c349c176d9    1
f5a2ab29-481d-49e6-960e-cb864ee1ed5a    1
Name: username, Length: 100000, dtype: int64
______________________________
671a0865_ac4e_4dc4_9c4f_c286a1176f7e@startupcampus.id      1
e32e587e_1146_4b78_aec4_91f739f58682@startupcampus.id      1
f713b56e_788e_4b07_959c_863b04462d44@zakyfoundation.org    1
1b44bafa_a611_4aa1_821e_c522d6d3769c@zakyfoundation.org    1
94973be4_399a_454c_aaff_a7ecd5465e56@zakyfoundation.org    1
                                                          ..
9e636014_be43_4427_bb10_9aaad2d3dceb@startupcampus.id      1
1db5ae2d_951c_45b1_8d1d_e4c94eceb2e8@startupcampus.id      1
56770baa_f3dd_4c98_b623_15683ad5a2b1@zakyfoundation.org    1
1eaf8875_c331_45f8_a1bf_00c349c176d9@startupcampus.id      1
f5a2ab29_481d_49e6_960e_cb864ee1ed5a@startupcampus.id      1
Name: email, Length: 100000, dtype: int64
______________________________
F    64230
M    35770
Name: gender, dtype: int64
______________________________
1999-07-31    54
1995-06-30    48
1996-06-30    44
1996-07-31    44
1998-07-31    43
              ..
1969-03-04     1
2009-12-10     1
1977-01-19     1
1981-10-19     1
2012-07-12     1
Name: birthdate, Length: 13003, dtype: int64
______________________________
Android    76637
iOS        23363
Name: device_type, dtype: int64
______________________________
c9c0de76-0a6c-4ac2-843f-65264ab9fe63    1
56d3bd76-516f-4347-aca6-ac6c83b3aaf7    1
239cc880-57f5-45a9-ac5a-a2665b31a2ad    1
484f992e-b26b-4d46-9a7c-9d2cc37f253b    1
87d80a51-94c6-4eff-bcd6-36f361158911    1
                                       ..
ace21e90-5dd6-42ea-8a5c-5f0f4b6b8ca0    1
431294ec-bcf5-4a9c-9234-ccff1f05fc4e    1
a80e260e-e761-426e-9650-d58032e086d4    1
a35c3834-d071-430d-93da-1ff8ae1dec03    1
b6bc29e0-5a22-47af-b31e-0972aafd4cab    1
Name: device_id, Length: 100000, dtype: int64
______________________________
Android 2.2.2                                 1296
Android 4.4                                   1294
Android 4.0.4                                 1291
Android 4.3                                   1285
Android 3.0                                   1278
                                              ...
iPad; CPU iPad OS 14_2 like Mac OS X           949
iPhone; CPU iPhone OS 10_3_4 like Mac OS X     948
iPad; CPU iPad OS 3_1_3 like Mac OS X          933
iPhone; CPU iPhone OS 9_3_5 like Mac OS X      907
iPhone; CPU iPhone OS 6_1_6 like Mac OS X      902
Name: device_version, Length: 86, dtype: int64
______________________________
-6.204501    16
-6.268274    16
-6.160241    16
-6.251893    16
-5.795371    16
             ..
-2.442995     1
-7.013364     1
-5.128431     1
-8.790221     1
-6.524369     1
Name: home_location_lat, Length: 71427, dtype: int64
______________________________
106.875860    16
106.842118    16
106.814012    16
106.827599    16
106.483996    16
              ..
120.407928     1
107.925391     1
105.543483     1
117.021548     1
106.283232     1
Name: home_location_long, Length: 71427, dtype: int64
______________________________
Jakarta Raya           18715
Jawa Barat             11486
Jawa Tengah            10960
Jawa Timur              9953
Yogyakarta              7849
Kalimantan Barat        5603
Lampung                 5426
Kalimantan Selatan      4229
Kalimantan Tengah       4091
Kalimantan Timur        2729
Maluku                  2490
Kepulauan Riau          1902
Bali                    1451
Sumatera Barat          1346
Nusa Tenggara Barat     1324
Sulawesi Utara          1279
Sulawesi Barat          1068
Sumatera Utara          1004
Sumatera Selatan         841
Papua                    753
Sulawesi Selatan         726
Papua Barat              660
Bengkulu                 654
Nusa Tenggara Timur      587
Sulawesi Tengah          505
Jambi                    385
Banten                   377
Maluku Utara             368
Gorontalo                348
Aceh                     263
Bangka Belitung          250
Sulawesi Tenggara        246
Riau                     132
Name: home_location, dtype: int64
______________________________
Indonesia    100000
Name: home_country, dtype: int64
______________________________
2021-07-31    341
2021-07-25    310
2021-08-01    307
2021-07-10    298
2021-07-17    295
             ...
2017-02-20      3
2016-12-21      3
2017-05-19      3
2016-12-16      2
2016-10-14      2
Name: first_join_date, Length: 2223, dtype: int64
______________________________

# 3. product

## feature

<h1>product</h1><br>
id: 아이디<br>
gender: 성별<br>
masterCategory: 상위 카테고리<br>
subCategory: 하위 카테고리<br>
articleType: 기사 타입<br>
baseColour: 기본 색상<br>
seasion: 계절<br>
year: 연도<br>
usage: 용도<br>
productDisplayName: 제품명<br>

## value_counts

In [16]:
for column in product.columns:
  print(product[column].value_counts())
  print('______________________________')

15970    1
36826    1
13953    1
6198     1
12881    1
        ..
8845     1
16466    1
22653    1
7031     1
51623    1
Name: id, Length: 44424, dtype: int64
______________________________
Men       22147
Women     18631
Unisex     2161
Boys        830
Girls       655
Name: gender, dtype: int64
______________________________
Apparel           21397
Accessories       11274
Footwear           9219
Personal Care      2403
Free Items          105
Sporting Goods       25
Home                  1
Name: masterCategory, dtype: int64
______________________________
Topwear                     15402
Shoes                        7343
Bags                         3055
Bottomwear                   2694
Watches                      2542
Innerwear                    1808
Jewellery                    1079
Eyewear                      1073
Fragrance                    1011
Sandal                        963
Wallets                       933
Flip Flops                    913
Belts                         811
Socks                         698
Lips                          527
Dress                         478
Loungewear and Nightwear      470
Saree                         427
Nails                         329
Makeup                        307
Headwear                      293
Ties                          258
Accessories                   129
Scarves                       118
Cufflinks                     108
Apparel Set                   106
Free Gifts                    104
Stoles                         90
Skin Care                      77
Skin                           69
Eyes                           43
Mufflers                       38
Shoe Accessories               24
Sports Equipment               21
Gloves                         20
Hair                           19
Bath and Body                  12
Water Bottle                    7
Perfumes                        6
Umbrellas                       6
Beauty Accessories              4
Wristbands                      4
Sports Accessories              3
Home Furnishing                 1
Vouchers                        1
Name: subCategory, dtype: int64
______________________________
Tshirts                7067
Shirts                 3217
Casual Shoes           2845
Watches                2542
Sports Shoes           2036
                       ...
Shoe Laces                1
Mens Grooming Kit         1
Body Wash and Scrub       1
Suits                     1
Ipad                      1
Name: articleType, Length: 143, dtype: int64
______________________________
Black                9728
White                5538
Blue                 4918
Brown                3494
Grey                 2741
Red                  2455
Green                2115
Pink                 1860
Navy Blue            1789
Purple               1640
Silver               1090
Yellow                778
Beige                 749
Gold                  628
Maroon                581
Orange                530
Olive                 410
Multi                 394
Cream                 390
Steel                 315
Charcoal              228
Peach                 195
Off White             182
Skin                  179
Lavender              162
Grey Melange          146
Khaki                 139
Magenta               129
Teal                  120
Tan                   114
Mustard                97
Bronze                 95
Copper                 86
Turquoise Blue         69
Rust                   66
Burgundy               45
Metallic               43
Coffee Brown           31
Mauve                  29
Rose                   28
Nude                   23
Sea Green              22
Mushroom Brown         16
Taupe                  11
Lime Green              6
Fluorescent Green       5
Name: baseColour, dtype: int64
______________________________
Summer    21472
Fall      11431
Winter     8517
Spring     2983
Name: season, dtype: int64
______________________________
2012.0    16288
2011.0    13672
2016.0     6006
2017.0     2916
2015.0     2780
2013.0     1212
2010.0      846
2018.0      405
2014.0      236
2019.0       33
2009.0       20
2008.0        7
2007.0        2
Name: year, dtype: int64
______________________________
Casual          34406
Sports           4025
Ethnic           3208
Formal           2345
Smart Casual       67
Party              29
Travel             26
Home                1
Name: usage, dtype: int64
______________________________
Lucera Women Silver Earrings                         82
Lucera Women Silver Pendant                          56
Lucera Women Silver Ring                             50
Catwalk Women Black Heels                            48
Q&Q Men Black Dial Watch                             42
                                                     ..
Lino Perros Women Leatherite Blue Handbag             1
Lakme True Wear Freespirit Nail Polish N525           1
Jungle Book Boys Follow The Tracks Yellow T-shirt     1
Spykar Men Navy Blue Trevor Brief                     1
Fossil Women Pink Dial Chronograph Watch ES3050       1
Name: productDisplayName, Length: 31121, dtype: int64
______________________________

# 4. transaction

## feature

<h1>transaction</h1>
created_at: 거래 발생 시각<br>
customer_id: 고객 아이디<br>
booking_id: 예약 아이디<br>
sessoin_id: 세션 아이디<br>
payment_method: 결제 수단<br>
payment_status: 결제 상태<br>
promo_amount: 프로모션 할인 가격<br>
promo_code: 프로모션 코드<br>
shipment_fee: 배송비<br>
shipment_date_limit: 배송 완료 한계시각<br>
shipment_location_lat: 배송지 위도<br>
shipment_location_long: 배송지 경도<br>
total_amount: 합계가격<br>
product_id: 상품 아이디<br>
quantity: 수량<br>
item_price: 상품가격<br>

## value_counts

In [17]:
for column in transaction_new.columns:
  print(transaction_new[column].value_counts())
  print('______________________________')

2019-09-03T16:41:47.368861Z    51
2021-04-05T07:12:47.036003Z    49
2017-08-25T02:19:25.172007Z    48
2021-04-07T16:41:55.222630Z    48
2022-07-14T19:10:41.302769Z    43
                               ..
2018-06-11T15:16:04.312665Z     1
2018-07-06T16:12:39.312665Z     1
2018-07-31T16:36:16.312665Z     1
2018-08-25T16:26:52.312665Z     1
2019-12-19T12:47:14.701215Z     1
Name: created_at, Length: 852584, dtype: int64
______________________________
43202    807
29496    749
82237    716
10167    693
69740    673
        ...
2934       1
4363       1
52112      1
92794      1
58180      1
Name: customer_id, Length: 50705, dtype: int64
______________________________
b9d670fe-1ae0-4c79-b214-588225fd201e    51
8414d299-c1fd-4333-a622-00da2895703c    49
e7d064c8-2b57-479a-a848-d0046b3a2065    48
7750eee5-8968-4ed4-a557-91d7f03e08ce    48
1b77d403-c552-490f-a1e9-4f02634f56b0    43
                                        ..
cf0c2bcc-44bd-45f1-afbb-a12a09e17b25     1
509ce639-b44e-4e7e-a446-4517b4ebf54a     1
29edc5fb-a74a-4649-b7e2-f8e5caf0a195     1
fd80b729-d742-40cd-ae57-fcb0f8dd5d30     1
b242e188-5f94-4448-a038-c5865842374b     1
Name: booking_id, Length: 852584, dtype: int64
______________________________
eaeb79af-fbe8-4825-8457-c73f5937ef96    51
5f3094ac-b3e4-4dc1-b1a2-bd492634abea    49
2744464b-1097-4bb5-89e2-275aba30d3ea    48
63687c42-bbbc-443a-be21-2e15e0e8c7a9    48
5aa4bcd3-d4a7-400f-a11f-5cf38b751fe4    43
                                        ..
1cac4bcd-107b-41d7-928d-087bf0fb480c     1
8ba11883-5ac4-4d13-9fbf-eafb145d0a9c     1
dab46d1b-0aff-44e8-82c1-225b20f7cd17     1
36cf2587-b4c1-4abc-94ef-4663d9c962ec     1
5e3183df-198b-40e0-b861-27ef694a832a     1
Name: session_id, Length: 852584, dtype: int64
______________________________
Credit Card    439876
Gopay          251577
OVO            249065
Debit Card     202552
LinkAja        111515
Name: payment_method, dtype: int64
______________________________
Success    1201035
Failed       53550
Name: payment_status, dtype: int64
______________________________
0        773446
2447        286
3655        218
3678        211
4222        202
          ...
14607         1
14901         1
12806         1
13020         1
16770         1
Name: promo_amount, Length: 15180, dtype: int64
______________________________
AZ2022           131312
BUYMORE           98373
WEEKENDSERU       91489
XX2022            65802
LIBURDONG         31084
WEEKENDMANTAP     30013
SC2022            16649
STARTUP           16417
Name: promo_code, dtype: int64
______________________________
10000    678371
0        324523
5000      86503
15000     83061
25000     41511
50000     40616
Name: shipment_fee, dtype: int64
______________________________
2019-09-06T23:15:34.058604Z    51
2021-04-07T03:59:02.515990Z    49
2017-08-27T09:12:15.799784Z    48
2021-04-11T08:57:42.510780Z    48
2022-07-18T15:06:39.354875Z    43
                               ..
2018-06-16T01:11:35.060258Z     1
2018-07-09T14:53:15.123029Z     1
2018-08-02T06:48:35.929953Z     1
2018-08-29T02:20:35.830569Z     1
2019-12-23T06:02:05.828334Z     1
Name: shipment_date_limit, Length: 852584, dtype: int64
______________________________
-6.888047    323
-6.283353    291
-8.246706    274
-6.159131    274
-6.339297    265
            ...
-8.010430      1
-7.865389      1
-1.138329      1
 1.106982      1
-6.185498      1
Name: shipment_location_lat, Length: 440963, dtype: int64
______________________________
108.241546    323
106.849304    291
112.510759    274
106.712704    274
106.827877    265
             ...
113.031667      1
129.817148      1
113.146390      1
113.308492      1
106.831093      1
Name: shipment_location_long, Length: 440963, dtype: int64
______________________________
11987067    232
4920842     198
13249933    192
12074292    176
12371635    168
           ...
473003        1
454616        1
546039        1
1026424       1
1158159       1
Name: total_amount, Length: 469757, dtype: int64
______________________________
55022    52
54932    51
6311     50
37848    50
40615    49
         ..
44284    11
31585    11
32168    11
16206    10
24533     9
Name: product_id, Length: 44446, dtype: int64
______________________________
1     1038635
2      100715
3       41464
4       23559
5       14478
6        9865
7        6900
8        4868
9        3491
10       2537
11       1896
12       1390
13       1105
14        848
15        656
16        485
17        376
18        259
19        242
20        182
21        145
22        103
23         80
24         55
25         53
26         44
27         43
29         19
28         17
33         14
31         14
32         11
34          8
36          5
40          4
35          4
38          3
41          3
30          3
39          2
37          1
48          1
42          1
43          1
Name: quantity, dtype: int64
______________________________
167395    35
160016    32
161926    31
118477    31
233108    31
          ..
95333      1
593998     1
499149     1
131406     1
488722     1
Name: item_price, Length: 382996, dtype: int64
______________________________

## 전처리

In [18]:
transaction_new['created_at'].sort_values()

1254461    2016-06-30T23:18:44.792905Z
1201589    2016-07-01T02:53:26.720195Z
1201590    2016-07-01T02:53:26.720195Z
1201721    2016-07-01T09:45:51.803842Z
1254460    2016-07-01T22:32:45.218400Z
                      ...
985626     2022-07-31T23:58:50.469277Z
985568     2022-07-31T23:58:53.821469Z
985766     2022-07-31T23:59:03.408424Z
985569     2022-07-31T23:59:19.821469Z
985570     2022-07-31T23:59:45.821469Z
Name: created_at, Length: 1254585, dtype: object

In [19]:
transaction_date = []
transaction_time = []
for row in transaction_new['created_at']:
  date,time = date_time_split(row[:-1])
  transaction_date.append(date)
  transaction_time.append(time)

In [20]:
transaction_new['created_date'] = transaction_date
transaction_new['created_time'] = transaction_time

In [151]:
sum((transaction_new['shipment_fee'] + (transaction_new['item_price']) * transaction_new['quantity']  - transaction_new['promo_amount'] ) == transaction_new['total_amount'])

706668

In [22]:
transaction_new['total_amount']

0           199832
1           155526
2           550696
3           271012
4           198753
            ...
1254580     226820
1254581     359203
1254582    1158159
1254583     184143
1254584     365963
Name: total_amount, Length: 1254585, dtype: int64

In [23]:
transaction_new

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,created_date,created_time
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247,2018-07-29,15:22:01
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526,2018-07-30,12:40:22
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174,2018-09-15,11:51:17
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012,2018-11-01,11:23:48
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753,2018-12-18,11:20:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254580,2021-09-21T22:10:05.074873Z,25121,66f02fa4-c62e-497a-8b6e-be239009b50a,484eecde-9f4a-42de-a8df-7ce6668101f4,Debit Card,Failed,0,NaN,0,2021-09-27T00:43:40.992167Z,-6.869535,111.077145,226820,30642,2,113410,2021-09-21,22:10:05
1254581,2021-12-09T07:35:18.222046Z,34829,ccde6b83-ee42-4cce-b2cd-976574886eac,954e1211-4d45-4d0b-ba84-53e80119592c,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213,2021-12-09,07:35:18
1254582,2021-12-11T01:20:36.944593Z,99645,5bcd3434-1dc6-44bb-ae63-fd19714cbd6c,e6e6c108-abd0-49a2-b0a5-691117f9cfe1,Credit Card,Success,2181,WEEKENDSERU,5000,2021-12-12T13:28:22.848703Z,-6.185498,106.831093,1158159,13079,4,288835,2021-12-11,01:20:36
1254583,2019-12-18T11:01:09.623382Z,87319,af7f291a-b01b-4bfd-89a9-237b16368b15,bb6e5426-a3f3-426a-b99d-79173eaa234b,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646,2019-12-18,11:01:09
1254584,2019-12-19T12:47:14.701215Z,58180,b242e188-5f94-4448-a038-c5865842374b,5e3183df-198b-40e0-b861-27ef694a832a,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687,2019-12-19,12:47:14

# EDA

In [91]:
key = click_stream_new.value_counts('session_id').index[0]
filtered_data= click_stream_new[click_stream_new['session_id'] == key]

In [92]:
filtered_data = filtered_data.sort_values(['event_date_new', 'event_time_new'])
filtered_data.reset_index(inplace = True, drop = True)

In [93]:
deltas_date = []
for i in range(len(filtered_data)-1):
  delta = datetime.strptime(filtered_data['event_date_new'][i+1], '%Y-%m-%d') - datetime.strptime(filtered_data['event_date_new'][i], '%Y-%m-%d')
  deltas_date.append(delta.days)

In [94]:
filtered_data

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount,event_date_new,event_time_new
0,65383bfb-5535-445f-ab52-aec4658eb0bd,HOMEPAGE,2021-04-19T07:56:25.706561Z,f10d4b1a-b44f-4b26-a02c-d6a1c46084a1,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-19,07:56:25
1,65383bfb-5535-445f-ab52-aec4658eb0bd,CLICK,2021-04-21T01:40:32.706561Z,b140ca89-a6d1-4875-ade8-f87dbfb4bcfa,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-21,01:40:32
2,65383bfb-5535-445f-ab52-aec4658eb0bd,ADD_TO_CART,2021-04-21T01:48:02.706561Z,b5eec39e-4ad0-4e90-8473-c47d3d89a78d,MOBILE,39775.0,1.0,178232.0,NaN,NaN,NaN,NaN,2021-04-21,01:48:02
3,65383bfb-5535-445f-ab52-aec4658eb0bd,ADD_TO_CART,2021-04-22T19:34:21.706561Z,652bea1e-29d2-40da-9d72-c9e36dffdb95,MOBILE,7063.0,1.0,438552.0,NaN,NaN,NaN,NaN,2021-04-22,19:34:21
4,65383bfb-5535-445f-ab52-aec4658eb0bd,ADD_PROMO,2021-04-22T19:37:44.706561Z,7d555d88-7e85-4906-9b77-f79abd7607eb,MOBILE,NaN,NaN,NaN,NaN,NaN,BUYMORE,6903.0,2021-04-22,19:37:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,65383bfb-5535-445f-ab52-aec4658eb0bd,HOMEPAGE,2021-06-29T06:09:24.706561Z,397ffaf3-9de1-46d3-8b22-0baa4cc7f2ea,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,06:09:24
646,65383bfb-5535-445f-ab52-aec4658eb0bd,ITEM_DETAIL,2021-06-29T08:00:56.706561Z,dfb7493c-9dfb-452b-8ce9-985d89b25c15,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,08:00:56
647,65383bfb-5535-445f-ab52-aec4658eb0bd,ITEM_DETAIL,2021-06-29T09:56:14.706561Z,399536b9-15b4-45c4-8dc2-0e786fa0fdad,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,09:56:14
648,65383bfb-5535-445f-ab52-aec4658eb0bd,PROMO_PAGE,2021-06-29T11:49:51.706561Z,6309d744-2878-4fea-8c89-545f654c1531,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,11:49:51
649,65383bfb-5535-445f-ab52-aec4658eb0bd,CLICK,2021-06-29T13:42:22.706561Z,10d6de16-3d11-4e07-af39-82963e26baa1,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,13:42:22

In [97]:
sum(deltas_date)

71

In [101]:
sum(deltas_date)/len(deltas_date)

0.10939907550077041

In [114]:
deltas_time = []
for i in range(len(filtered_data)-1):
  if filtered_data['event_date_new'][i+1] == filtered_data['event_date_new'][i]:
    delta = datetime.strptime(filtered_data['event_time_new'][i+1], '%H:%M:%S') - datetime.strptime(filtered_data['event_time_new'][i], '%H:%M:%S')
    delta = delta.seconds/60
  else:
    delta = '-'
  deltas_time.append(delta)

In [115]:
deltas_time

['-',
 7.5,
 '-',
 3.3833333333333333,
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 114.31666666666666,
 115.83333333333333,
 113.71666666666667,
 113.48333333333333,
 115.71666666666667,
 112.91666666666667,
 112.93333333333334,
 111.36666666666666,
 114.6,
 '-',
 113.03333333333333,
 114.45,
 114.85,
 112.63333333333334,
 115.08333333333333,
 113.85,
 115.51666666666667,
 114.25,
 115.15,
 113.45,
 114.88333333333334,
 '-',
 113.4,
 113.65,
 113.41666666666667,
 109.41666666666667,
 113.41666666666667,
 113.56666666666666,
 111.75,
 113.98333333333333,
 114.91666666666667,
 112.13333333333334,
 111.83333333333333,
 112.65,
 '-',
 116.8,
 113.4,
 112.51666666666667,
 114.91666666666667,
 114.53333333333333,
 113.95,
 113.2,
 112.55,
 109.83333333333333,
 113.51666666666667,
 112.85,
 115.98333333333333,
 '-',
 112.56666666666666,
 113.75,
 114.16666666666667,
 114.43333333333334,
 112.83333333333333,
 115.68333333333334,
 116.1,
 112.35,
 113.63333333333334,
 110.46666666666667,
 113.71666666666667,
 '-',
 112.9,
 116.56666666666666,
 111.65,
 113.21666666666667,
 115.36666666666666,
 111.83333333333333,
 115.88333333333334,
 114.7,
 114.2,
 115.3,
 115.5,
 114.53333333333333,
 '-',
 113.08333333333333,
 112.93333333333334,
 112.55,
 113.4,
 114.93333333333334,
 113.98333333333333,
 114.46666666666667,
 111.88333333333334,
 112.2,
 114.3,
 112.78333333333333,
 113.46666666666667,
 '-',
 115.7,
 112.13333333333334,
 113.38333333333334,
 116.23333333333333,
 111.71666666666667,
 114.18333333333334,
 112.56666666666666,
 114.08333333333333,
 112.03333333333333,
 114.66666666666667,
 113.68333333333334,
 '-',
 115.01666666666667,
 115.76666666666667,
 110.9,
 115.55,
 112.81666666666666,
 113.31666666666666,
 114.31666666666666,
 113.6,
 111.65,
 115.3,
 115.23333333333333,
 113.03333333333333,
 '-',
 111.88333333333334,
 115.5,
 113.75,
 113.3,
 113.91666666666667,
 111.31666666666666,
 112.85,
 115.66666666666667,
 115.25,
 115.35,
 114.45,
 108.73333333333333,
 '-',
 113.61666666666666,
 113.75,
 113.15,
 111.4,
 114.46666666666667,
 112.46666666666667,
 112.36666666666666,
 112.33333333333333,
 113.43333333333334,
 112.73333333333333,
 114.5,
 '-',
 113.81666666666666,
 115.0,
 112.61666666666666,
 113.16666666666667,
 113.76666666666667,
 115.4,
 114.53333333333333,
 115.11666666666666,
 114.51666666666667,
 114.98333333333333,
 112.26666666666667,
 112.23333333333333,
 '-',
 114.86666666666666,
 111.5,
 113.36666666666666,
 113.81666666666666,
 114.95,
 111.18333333333334,
 113.05,
 115.43333333333334,
 112.9,
 113.76666666666667,
 112.81666666666666,
 113.96666666666667,
 '-',
 113.56666666666666,
 114.06666666666666,
 112.36666666666666,
 113.06666666666666,
 113.5,
 112.56666666666666,
 113.3,
 113.78333333333333,
 116.33333333333333,
 112.51666666666667,
 112.73333333333333,
 '-',
 114.51666666666667,
 114.0,
 114.83333333333333,
 115.58333333333333,
 113.13333333333334,
 114.81666666666666,
 113.66666666666667,
 112.61666666666666,
 112.3,
 116.13333333333334,
 113.93333333333334,
 114.98333333333333,
 '-',
 113.86666666666666,
 115.25,
 114.03333333333333,
 114.7,
 110.83333333333333,
 115.36666666666666,
 115.01666666666667,
 113.91666666666667,
 114.35,
 112.98333333333333,
 114.36666666666666,
 111.8,
 '-',
 108.86666666666666,
 112.63333333333334,
 113.51666666666667,
 112.75,
 114.1,
 113.56666666666666,
 114.88333333333334,
 113.86666666666666,
 111.96666666666667,
 112.66666666666667,
 111.03333333333333,
 '-',
 110.5,
 113.86666666666666,
 111.51666666666667,
 114.5,
 114.96666666666667,
 114.05,
 114.33333333333333,
 111.31666666666666,
 115.21666666666667,
 111.68333333333334,
 114.23333333333333,
 113.31666666666666,
 '-',
 113.75,
 112.66666666666667,
 113.38333333333334,
 115.75,
 114.11666666666666,
 112.45,
 114.48333333333333,
 112.73333333333333,
 116.15,
 113.81666666666666,
 112.86666666666666,
 114.3,
 '-',
 114.08333333333333,
 115.46666666666667,
 113.8,
 113.45,
 116.11666666666666,
 114.6,
 113.43333333333334,
 113.41666666666667,
 113.73333333333333,
 114.45,
 115.35,
 '-',
 115.21666666666667,
 111.73333333333333,
 113.76666666666667,
 111.88333333333334,
 115.33333333333333,
 113.15,
 115.25,
 115.16666666666667,
 112.46666666666667,
 115.75,
 111.95,
 110.85,
 '-',
 114.26666666666667,
 111.96666666666667,
 111.26666666666667,
 113.25,
 116.53333333333333,
 115.66666666666667,
 113.28333333333333,
 114.58333333333333,
 114.46666666666667,
 113.85,
 114.41666666666667,
 111.13333333333334,
 '-',
 114.38333333333334,
 111.61666666666666,
 111.65,
 111.43333333333334,
 113.88333333333334,
 116.13333333333334,
 113.03333333333333,
 115.71666666666667,
 114.3,
 111.18333333333334,
 114.93333333333334,
 '-',
 115.3,
 113.31666666666666,
 114.38333333333334,
 112.73333333333333,
 113.41666666666667,
 112.58333333333333,
 113.53333333333333,
 114.56666666666666,
 114.48333333333333,
 112.91666666666667,
 111.85,
 114.23333333333333,
 '-',
 113.65,
 113.75,
 114.2,
 113.43333333333334,
 113.13333333333334,
 113.66666666666667,
 112.78333333333333,
 114.58333333333333,
 113.36666666666666,
 113.25,
 114.56666666666666,
 114.2,
 '-',
 115.73333333333333,
 113.28333333333333,
 111.9,
 112.13333333333334,
 113.61666666666666,
 113.03333333333333,
 112.95,
 113.63333333333334,
 112.01666666666667,
 113.95,
 112.85,
 '-',
 113.65,
 114.68333333333334,
 111.18333333333334,
 116.3,
 116.78333333333333,
 112.71666666666667,
 115.38333333333334,
 115.8,
 116.3,
 115.11666666666666,
 115.2,
 111.63333333333334,
 '-',
 111.68333333333334,
 114.33333333333333,
 113.63333333333334,
 112.58333333333333,
 111.86666666666666,
 112.86666666666666,
 114.03333333333333,
 111.81666666666666,
 112.96666666666667,
 113.2,
 110.05,
 113.95,
 '-',
 115.93333333333334,
 114.86666666666666,
 112.43333333333334,
 114.71666666666667,
 116.38333333333334,
 111.91666666666667,
 112.85,
 111.8,
 115.11666666666666,
 117.41666666666667,
 115.63333333333334,
 '-',
 112.66666666666667,
 113.25,
 116.2,
 112.05,
 114.43333333333334,
 111.93333333333334,
 113.96666666666667,
 114.51666666666667,
 112.68333333333334,
 112.23333333333333,
 111.78333333333333,
 115.0,
 '-',
 112.78333333333333,
 112.83333333333333,
 114.86666666666666,
 112.76666666666667,
 112.35,
 115.58333333333333,
 115.96666666666667,
 112.68333333333334,
 113.3,
 111.63333333333334,
 113.51666666666667,
 114.48333333333333,
 '-',
 112.21666666666667,
 112.66666666666667,
 111.86666666666666,
 115.0,
 115.9,
 116.25,
 115.71666666666667,
 112.93333333333334,
 115.61666666666666,
 114.46666666666667,
 115.2,
 '-',
 113.91666666666667,
 113.55,
 112.61666666666666,
 115.43333333333334,
 114.11666666666666,
 115.18333333333334,
 113.33333333333333,
 115.85,
 112.23333333333333,
 114.1,
 113.78333333333333,
 114.86666666666666,
 '-',
 114.25,
 112.61666666666666,
 113.75,
 116.35,
 113.15,
 114.18333333333334,
 112.5,
 114.1,
 112.96666666666667,
 111.65,
 112.85,
 115.95,
 '-',
 112.93333333333334,
 114.71666666666667,
 116.35,
 114.48333333333333,
 113.46666666666667,
 112.88333333333334,
 112.6,
 111.98333333333333,
 110.26666666666667,
 114.36666666666666,
 112.61666666666666,
 '-',
 115.05,
 114.76666666666667,
 114.83333333333333,
 113.86666666666666,
 114.11666666666666,
 112.25,
 111.61666666666666,
 114.46666666666667,
 112.75,
 114.06666666666666,
 113.3,
 112.83333333333333,
 '-',
 114.73333333333333,
 113.78333333333333,
 116.51666666666667,
 113.33333333333333,
 113.91666666666667,
 113.16666666666667,
 113.88333333333334,
 112.78333333333333,
 114.3,
 112.43333333333334,
 113.05,
 115.5,
 '-',
 113.33333333333333,
 113.13333333333334,
 112.91666666666667,
 115.03333333333333,
 111.83333333333333,
 115.63333333333334,
 112.43333333333334,
 113.16666666666667,
 114.11666666666666,
 115.31666666666666,
 112.75,
 '-',
 115.06666666666666,
 114.03333333333333,
 112.3,
 115.95,
 116.31666666666666,
 113.33333333333333,
 113.08333333333333,
 114.61666666666666,
 113.9,
 115.11666666666666,
 115.03333333333333,
 113.8,
 '-',
 114.51666666666667,
 111.65,
 112.45,
 114.11666666666666,
 113.2,
 114.2,
 112.45,
 117.08333333333333,
 111.43333333333334,
 113.63333333333334,
 115.5,
 114.28333333333333,
 '-',
 114.08333333333333,
 114.03333333333333,
 112.83333333333333,
 113.95,
 114.71666666666667,
 115.26666666666667,
 112.6,
 114.26666666666667,
 113.11666666666666,
 112.5,
 113.71666666666667,
 '-',
 114.61666666666666,
 115.65,
 112.88333333333334,
 113.15,
 113.78333333333333,
 112.91666666666667,
 113.21666666666667,
 113.73333333333333,
 114.0,
 115.46666666666667,
 112.93333333333334,
 113.8,
 '-',
 114.41666666666667,
 113.98333333333333,
 113.01666666666667,
 114.51666666666667,
 112.31666666666666,
 112.81666666666666,
 112.55,
 114.23333333333333,
 114.08333333333333,
 114.16666666666667,
 113.68333333333334,
 '-',
 112.51666666666667,
 113.53333333333333,
 114.5,
 114.51666666666667,
 112.9,
 114.45,
 116.4,
 112.25,
 112.18333333333334,
 113.41666666666667,
 112.15,
 114.61666666666666,
 '-',
 113.05,
 112.85,
 111.73333333333333,
 117.8,
 115.73333333333333,
 113.01666666666667,
 111.06666666666666,
 112.88333333333334,
 112.95,
 112.58333333333333,
 114.43333333333334,
 115.45,
 '-',
 114.48333333333333,
 114.91666666666667,
 114.65,
 113.23333333333333,
 112.95,
 113.53333333333333,
 114.05,
 113.05,
 114.93333333333334,
 114.23333333333333,
 116.16666666666667,
 '-',
 112.78333333333333,
 112.65,
 113.85,
 112.78333333333333,
 115.43333333333334,
 114.5,
 113.86666666666666,
 112.01666666666667,
 113.96666666666667,
 113.08333333333333,
 112.48333333333333,
 114.15,
 '-',
 114.05,
 112.13333333333334,
 114.0,
 114.48333333333333,
 113.48333333333333,
 112.08333333333333,
 115.71666666666667,
 112.8,
 111.73333333333333,
 113.33333333333333,
 113.6,
 115.75,
 '-',
 112.81666666666666,
 113.23333333333333,
 113.08333333333333,
 114.05,
 114.36666666666666,
 114.8,
 112.25,
 113.46666666666667,
 113.3,
 113.58333333333333,
 113.18333333333334,
 112.95,
 '-',
 114.41666666666667,
 113.55,
 114.48333333333333,
 114.7,
 112.71666666666667,
 112.31666666666666,
 115.06666666666666,
 112.88333333333334,
 114.03333333333333,
 112.56666666666666,
 112.03333333333333,
 '-',
 111.73333333333333,
 110.85,
 113.88333333333334,
 111.53333333333333,
 115.3,
 113.61666666666666,
 112.51666666666667]

In [125]:
numeric_values = pd.to_numeric(deltas_time, errors='coerce')  # 숫자가 아닌 값은 NaN으로 변환
numeric_values= pd.DataFrame(numeric_values).dropna()
average = numeric_values.mean()

In [126]:
average

0    113.313865
dtype: float64

In [128]:
def check_time_delta(x):
    key = click_stream_new.value_counts('session_id').index[x]
    filtered_data= click_stream_new[click_stream_new['session_id'] == key]

    filtered_data = filtered_data.sort_values(['event_date_new', 'event_time_new'])
    filtered_data.reset_index(inplace = True, drop = True)

    deltas_date = []
    for i in range(len(filtered_data)-1):
        delta = datetime.strptime(filtered_data['event_date_new'][i+1], '%Y-%m-%d') - datetime.strptime(filtered_data['event_date_new'][i], '%Y-%m-%d')
        deltas_date.append(delta.days)
    
    date_sum = sum(deltas_date)
    date_avg = date_sum/len(deltas_date)


    deltas_time = []
    for i in range(len(filtered_data)-1):
        if filtered_data['event_date_new'][i+1] == filtered_data['event_date_new'][i]:
            delta = datetime.strptime(filtered_data['event_time_new'][i+1], '%H:%M:%S') - datetime.strptime(filtered_data['event_time_new'][i], '%H:%M:%S')
            delta = delta.seconds/60
        else:
            delta = '-'
        deltas_time.append(delta)

    numeric_values = pd.to_numeric(deltas_time, errors='coerce')  # 숫자가 아닌 값은 NaN으로 변환
    numeric_values= pd.DataFrame(numeric_values).dropna()
    time_avg = numeric_values.mean()

    return date_sum, date_avg, time_avg

In [152]:
check_time_delta(1)

(2,
 0.0030816640986132513,
 0    6.028928
 dtype: float64)

In [134]:
click_stream_new.value_counts('session_id')

session_id
65383bfb-5535-445f-ab52-aec4658eb0bd    650
eb310630-8d65-4c59-8a33-a386b891ec74    650
12489f38-0fc1-4b80-9fe4-b267c4413ae7    539
d46877e2-9e20-4277-8698-647dee913a14    539
c22cb71e-f232-4930-9d59-85340bd98336    519
                                       ...
b587aaa4-7dd1-47fb-8044-b98066955482      2
a9e814a1-e8d6-4580-849b-44e6fb655540      2
3f753166-c4a3-429e-a76d-c63c991719e1      2
714f7eb0-e9c1-4527-ab61-b9a9005ed09f      2
aa3d6530-7ced-4fb9-899b-9ae0be6f9292      2
Length: 895203, dtype: int64

In [142]:
click_stream_new[click_stream_new['session_id'] == click_stream_new.value_counts('session_id').index[4]]

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount,event_date_new,event_time_new
6892847,c22cb71e-f232-4930-9d59-85340bd98336,HOMEPAGE,2017-07-25T12:18:39.863098Z,9bb99250-1e57-4760-b751-db278b6c6e9b,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-25,12:18:39
6892848,c22cb71e-f232-4930-9d59-85340bd98336,ADD_TO_CART,2017-07-26T09:14:34.863098Z,0b5293b7-9462-42eb-b7be-4f354ef10834,MOBILE,43189.0,1.0,37639.0,NaN,NaN,NaN,NaN,2017-07-26,09:14:34
6892849,c22cb71e-f232-4930-9d59-85340bd98336,ADD_PROMO,2017-07-27T06:06:16.863098Z,db3757d0-4ea1-491f-85da-8ad3d236e3ad,MOBILE,NaN,NaN,NaN,NaN,NaN,BUYMORE,5951.0,2017-07-27,06:06:16
6892850,c22cb71e-f232-4930-9d59-85340bd98336,BOOKING,2017-08-02T08:15:06.863098Z,b76e3f6f-a2b9-4085-aafd-3cd9008d43dc,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN,2017-08-02,08:15:06
6892851,c22cb71e-f232-4930-9d59-85340bd98336,CLICK,2017-07-26T09:03:06.863098Z,e7efb344-b06c-4f1e-bb61-5244833353e5,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-26,09:03:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6893361,c22cb71e-f232-4930-9d59-85340bd98336,HOMEPAGE,2017-08-14T07:06:30.863098Z,9dce64f6-3b31-4264-9e0e-3a37a9401b2f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-14,07:06:30
6893362,c22cb71e-f232-4930-9d59-85340bd98336,HOMEPAGE,2017-08-14T07:40:21.863098Z,7a066261-79e2-4cb3-a5d8-e4b158833609,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-14,07:40:21
6893363,c22cb71e-f232-4930-9d59-85340bd98336,HOMEPAGE,2017-08-14T08:14:50.863098Z,22bffe18-8862-4290-a02c-a320d1d7db82,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-14,08:14:50
6893364,c22cb71e-f232-4930-9d59-85340bd98336,CLICK,2017-08-14T08:48:29.863098Z,85765071-5445-4450-94bb-ab844a3b7e8f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-14,08:48:29
6893365,c22cb71e-f232-4930-9d59-85340bd98336,SEARCH,2017-08-14T09:22:33.863098Z,e0c87171-7869-46d7-b7dd-333c8d4888e5,MOBILE,NaN,NaN,NaN,NaN,T-Shirt,NaN,NaN,2017-08-14,09:22:33