In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import os

# 1. **브랜드**정보 추출하기(Product_df)

In [4]:
# product table 가져오기
base_path = os.getcwd()
product_df = pd.read_csv(base_path + '/product.csv')
product_df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

#### a. 전처리 및 결측치 처리

In [5]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  object
 6   season              44425 non-null  object
 7   year                44445 non-null  float64
 8   usage               44129 non-null  object
 9   productDisplayName  44439 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [8]:
product_df.isnull().sum()

id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      7
dtype: int64

In [9]:
product_df.duplicated().sum()

0

In [11]:
# 결측치 제거
product_df.dropna(inplace=True)

In [12]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44099 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44099 non-null  int64
 1   gender              44099 non-null  object
 2   masterCategory      44099 non-null  object
 3   subCategory         44099 non-null  object
 4   articleType         44099 non-null  object
 5   baseColour          44099 non-null  object
 6   season              44099 non-null  object
 7   year                44099 non-null  float64
 8   usage               44099 non-null  object
 9   productDisplayName  44099 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.7+ MB

#### b. productDisplayName 활용하기

##### productDisplayName에서 gender를 기준으로 하여 brand를 뽑아낼 수 있을 것이라 예상

In [25]:
# gender 확인
product_df.gender.unique()

array(['Men', 'Women', 'Boys', 'Girls', 'Unisex'], dtype=object)

In [13]:
product_df.productDisplayName

0                       Turtle Check Men Navy Blue Shirt
1                     Peter England Men Party Blue Jeans
2                               Titan Women Silver Watch
3          Manchester United Men Solid Black Track Pants
4                                  Puma Men Grey T-shirt
                              ...
44441                          Gas Men Caddy Casual Shoe
44442                 Lotto Men's Soccer Track Flip Flop
44443               Puma Men Graphic Stellar Blue Tshirt
44444                     Rasasi Women Blue Lady Perfume
44445    Fossil Women Pink Dial Chronograph Watch ES3050
Name: productDisplayName, Length: 44099, dtype: object

In [59]:
pd.set_option('display.max_rows', None)

In [67]:
# 데이터 확인 후 최대한 구분 기준을 세부화했으나 약 3000개 정도 구분점 설정 실패 -> 그냥 첫번째 글자를 브랜드명으로 쓰기로 결정
brand_1 = product_df[product_df.productDisplayName.str.contains(r'Men|Man|Women|Woman|Boys|Boy\'s|Boy|Girls|Girl|Girl\'s|Kids|Unisex')]['productDisplayName'].str.split().str[0]
len(brand_1)

41091

##### productDisplayName에서 첫번째 단어를 브랜드명으로 간주

In [69]:
brand = product_df.productDisplayName.str.split().str[0]
brand.head()

0        Turtle
1         Peter
2         Titan
3    Manchester
4          Puma
Name: productDisplayName, dtype: object

In [70]:
brand.value_counts()

Nike                                            2289
Puma                                            2087
ADIDAS                                          2071
United                                          1400
Fabindia                                         751
Catwalk                                          743
Gini                                             721
Arrow                                            697
Fastrack                                         689
Wrangler                                         678
Lino                                             655
Baggit                                           623
Red                                              547
Lee                                              521
Myntra                                           476
Scullers                                         455
French                                           430
Fila                                             423
Jealous                                          403
Jockey                                           398
John                                             395
Lotto                                            377
Murcia                                           372
W                                                356
Proline                                          346
Flying                                           343
Wildcraft                                        338
Femella                                          336
Lucera                                           332
Colorbar                                         331
Basics                                           327
Mark                                             327
Rocia                                            325
Locomotive                                       322
Peter                                            320
U.S.                                             314
Reebok                                           313
Indigo                                           307
Fossil                                           305
Doodle                                           302
Q&Q                                              274
Mother                                           264
Maxima                                           260
Reid                                             260
Spykar                                           257
Playboy                                          249
FNF                                              248
Tantra                                           244
Chromozome                                       242
Vishudh                                          237
Timberland                                       230
Revlon                                           225
Numero                                           222
Aurelia                                          221
Carlton                                          220
Highlander                                       219
Probase                                          216
Hanes                                            214
Levis                                            214
Lakme                                            213
Aneri                                            203
Vans                                             196
Kiara                                            195
Titan                                            194
Enamor                                           185
CASIO                                            183
Park                                             182
Converse                                         174
Clarks                                           170
Enroute                                          169
Franco                                           168
Elle                                             165
Classic                                          163
UCB                                              162
Skechers                                         162
Disney                                           158
Amante                                           158
HM                                               155
Turtle                                           153
Timex                                            151
Allen                                            146
SDL                                              141
Shree                                            138
Facit                                            138
BIBA                                             133
Police                                           131
Casio                                            129
Inkfruit                                         126
s.Oliver                                         125
Tonga                                            125
Diva                                             124
Idee                                             123
Status                                           122
Lotus                                            119
Cobblerz                                         117
Woodland                                         114
Royal                                            112
Avirate                                          112
Provogue                                         110
Palm                                             109
Quiksilver                                       108
Sepia                                            107
Rockport                                         107
Urban                                            106
Genesis                                          106
Mr.Men                                           106
Belmonte                                         104
Bulchee                                          103
Portia                                           102
Estelle                                          101
Ray-Ban                                          100
Esprit                                            98
Little                                            95
Streetwear                                        95
iPanema                                           95
Wills                                             95
Alma                                              92
Prafful                                           92
Hakashi                                           91
Adrika                                            89
OTLS                                              88
Revv                                              88
Rasasi                                            86
American                                          86
Warner                                            85
Folklore                                          84
Spice                                             83
Buckaroo                                          81
Ed                                                80
DKNY                                              78
Forever                                           77
Gas                                               76
Quechua                                           76
Manchester                                        76
Latin                                             75
Deborah                                           73
Rreverie                                          72
Tokyo                                             72
Van                                               71
Giordano                                          70
Bwitch                                            70
New                                               69
Madagascar3                                       69
ONLY                                              68
Spinn                                             68
Ganuchi                                           68
Citizen                                           66
ToniQ                                             65
Span                                              64
Crocs                                             64
Do                                                63
Mr.                                               63
Gliders                                           61
Roxy                                              60
Ivory                                             59
Guess                                             59
Nyk                                               58
Hidekraft                                         58
Miami                                             57
Mumbai                                            56
Mineral                                           56
ID                                                55
Vero                                              55
Ant                                               54
Polaroid                                          54
Remanika                                          53
Denizen                                           53
Coolers                                           53
Levi's                                            51
Senorita                                          51
Chhota                                            51
Raymond                                           51
ALayna                                            51
Biara                                             50
FILA                                              50
Louis                                             49
Marvel                                            49
FCUK                                              49
Lovable                                           48
Be                                                48
Angry                                             48
Pepe                                              47
Parx                                              46
Stoln                                             45
Mayhem                                            44
Globalite                                         44
Mod'acc                                           43
Boss                                              42
York                                              40
Helix                                             39
Asics                                             39
Biba                                              38
Lencia                                            38
Peri                                              38
Inc                                               37
Hugo                                              36
Just                                              35
Madagascar                                        35
Spalding                                          35
Indian                                            35
Guerrilla                                         35
Pitaraa                                           35
Global                                            35
Yelloe                                            33
Rocky                                             33
Oakley                                            33
Cabarelli                                         32
Nautica                                           32
Kraus                                             31
Sushilas                                          31
Calvin                                            30
F                                                 30
Black                                             29
GAS                                               29
109F                                              29
FIFA                                              29
Batman                                            29
Inc.                                              29
Free                                              29
Satya                                             28
Paridhan                                          28
Domyos                                            28
Hush                                              27
Carrera                                           27
Biotique                                          27
Force                                             27
iD                                                27
Superman                                          27
M                                                 26
Deni                                              26
Grendha                                           26
ColorBar                                          26
Image                                             26
Peperone                                          26
Colour                                            26
Tiptopp                                           25
Estd.                                             25
Celine                                            25
Undercolors                                       24
Envirosax                                         24
Pieces                                            24
JAG                                               24
DUSG                                              23
Kalenji                                           23
Bata                                              22
Fiorelli                                          22
Opium                                             22
Newfeel                                           22
DC                                                22
Homme                                             21
Miss                                              21
Cat                                               21
Happy                                             21
Speedo                                            21
Jack                                              21
Chimp                                             20
Jungle                                            20
Vital                                             20
Fusion                                            19
Dunhill                                           19
Crusoe                                            19
Aspen                                             18
ASICS                                             18
David                                             18
Fortune                                           18
Skybags                                           18
Campbell                                          18
2go                                               17
Ice                                               17
Garfield                                          17
Olay                                              17
Newhide                                           17
Mickey                                            17
Lomani                                            17
Vogue                                             16
Belkin                                            16
Kipsta                                            16
Being                                             16
Inaya                                             16
Fruit                                             16
Visudh                                            16
Mod-acc                                           16
Ben                                               15
Paris                                             15
AND                                               15
Miki                                              15
Tortoise                                          15
Beyouty                                           15
Morellato                                         15
Miss-T                                            14
Taylor                                            14
U.S.Polo                                          14
Redtape                                           14
Ayaany                                            14
Salomon                                           14
Kenneth                                           13
Artengo                                           13
Jacques                                           13
Tommy                                             13
Barbie                                            13
Baldessarini                                      13
Horsefly                                          13
SKAGEN                                            12
Footloose                                         12
Skagen                                            12
Heart                                             12
Pal                                               12
Fogg                                              12
Sher                                              11
Estee                                             11
Levitate                                          11
Tonino                                            11
The                                               11
Ediots                                            11
Avengers                                          10
YARDLEY                                           10
Jovan                                             10
Music                                              9
Inc.5                                              9
FOSSIL                                             9
Pond's                                             9
Decathlon                                          9
Hidedge                                            9
J.Del                                              9
Kama                                               9
C                                                  9
La-Emotio                                          9
Adidas                                             9
Perry                                              9
Tribord                                            9
Wild                                               8
Swiss                                              8
TOUS                                               8
Nabaiji                                            8
Valentino                                          8
Cavallini                                          8
Denim                                              8
Beatles                                            8
Hannah                                             8
Euroluxe                                           8
Slazenger                                          8
Solognac                                           8
I                                                  7
Davidoff                                           7
Gatsby                                             7
Nautilus                                           7
Spinz                                              7
Regent                                             7
Kids                                               7
Ponds                                              7
Hop                                                7
Footfun                                            7
4711                                               6
Smugglerz                                          6
Kelme                                              6
PUMA                                               6
Jimi                                               6
KKR                                                5
Che                                                5
Brut                                               5
Tous                                               5
IDEE                                               5
HUGO                                               5
Jaguar                                             5
Stens                                              5
Only                                               5
Pink                                               5
RNC                                                5
CSK                                                5
Smartoe                                            5
dunhill                                            5
Giorgio                                            5
Calzini                                            5
Formula                                            5
J.                                                 5
BOSS                                               5
Tabac                                              5

In [99]:
brand = brand.str.lower()

#### 2021년 인도네시아 18세 ~ 55세 설문조사 결과를 토대로 인기있는 상위 10개 브랜드가 이커머스에 입점되어 있는지 확인

In [103]:
# 이커머스 회사의 고객 타겟층인 18세에서 35세와 다소 차이가 있을 수 있으나, 참고 목적으로 살펴볼 예정
    # 출처 : https://welcon.kocca.kr/cmm/fms/CrawlingFileDown.do?atchFileId=FILE_f016d5ef-6951-4e09-9cf0-8f513a360671&fileSn=1
for famous_brand in ['adidas', 'h&m', 'converse', 'uniqlo', 'nike', 'eiger', '3second', 'nevada', 'vans', 'cardinal']:
    print(f'{famous_brand} :', len(brand[brand.str.contains(famous_brand)]))

adidas : 2080
h&m : 0
converse : 174
uniqlo : 0
nike : 2289
eiger : 0
3second : 0
nevada : 0
vans : 196
cardinal : 0

In [ ]:
# 문제점 : 인도네시아에서 인기있는 브랜드인 adidas, nike를 제외하고 입점이 안되어있거나 제품 수가 매우 적음