<a href="https://colab.research.google.com/github/NARAEIM/tp2-da/blob/hm98112/data_refine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리

In [1]:
from google.colab import drive
import seaborn
import pandas as pd
drive.mount('da')

Mounted at da

In [2]:
# #데이터 불러오기
# click_stream_new = pd.read_csv('/content/da/MyDrive/data/click_stream_new.csv')
# customer = pd.read_csv('/content/da/MyDrive/data/customer.csv', usecols = ['customer_id', 'gender', 'birthdate', 'home_location', 'first_join_date'])

# #데이터 불러오기
# product = pd.read_csv('/content/da/MyDrive/data/product.csv')
# transaction_new = pd.read_csv('/content/da/MyDrive/data/transaction_new.csv')

### product 데이터 전처리 통합

In [3]:
#데이터 불러오기
product = pd.read_csv('/content/da/MyDrive/data/product.csv')

#null 값 삭제하지 않는 것으로 결정
product.isnull().sum()

id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      7
dtype: int64

In [4]:
#중복 없음
product.duplicated().sum()

0

In [5]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  object
 6   season              44425 non-null  object
 7   year                44445 non-null  float64
 8   usage               44129 non-null  object
 9   productDisplayName  44439 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [6]:
# 특성 이름 transaction_new 테이블과 통일
product.rename(columns = {'id' : 'product_id'})

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44441,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44442,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44443,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44444,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44445,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [7]:
# 브랜드명 추출하여 특성 생성
brand = product.productDisplayName.str.split().str[0]
brand.head()
product['brand'] = brand.str.lower()

In [8]:
#데이터 타입 설정
product['gender'] = product['gender'].astype('category')
product['masterCategory'] = product['masterCategory'].astype('category')
product['subCategory'] = product['subCategory'].astype('category')
product['baseColour'] = product['baseColour'].astype('category')
product['season'] = product['season'].astype('category')
product['usage'] = product['usage'].astype('category')
#사용하지 않는 특성 제거
product.drop(columns = 'year', inplace = True)

In [9]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  category
 2   masterCategory      44446 non-null  category
 3   subCategory         44446 non-null  category
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  category
 6   season              44425 non-null  category
 7   usage               44129 non-null  category
 8   productDisplayName  44439 non-null  object
 9   brand               44439 non-null  object
dtypes: category(6), int64(1), object(3)
memory usage: 1.6+ MB

In [10]:
product.to_csv('product_final.csv', index = False)

### click_stream_new 데이터 전처리 통합

In [11]:
click_stream_new = pd.read_csv('/content/da/MyDrive/data/click_stream_new.csv')
click_stream_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   event_name       object
 2   event_time       object
 3   event_id         object
 4   traffic_source   object
 5   product_id       float64
 6   quantity         float64
 7   item_price       float64
 8   payment_status   object
 9   search_keywords  object
 10  promo_code       object
 11  promo_amount     float64
dtypes: float64(4), object(8)
memory usage: 1.1+ GB

In [12]:
#중복값 없음
click_stream_new.duplicated().sum()

0

In [13]:
click_stream_new['event_name'] = click_stream_new['event_name'].astype('category')
click_stream_new['traffic_source'] = click_stream_new['traffic_source'].astype('category')
click_stream_new['product_id'] = click_stream_new['product_id'].astype('object')

#null값 0으로 대체
click_stream_new['quantity'] = click_stream_new['quantity'].fillna(0).astype('int32')

#null값 0으로 대체
click_stream_new['item_price'] = click_stream_new['item_price'].fillna(0).astype('int')

click_stream_new['payment_status'] = click_stream_new['payment_status'].astype('category')
click_stream_new['search_keywords'] = click_stream_new['search_keywords'].astype('category')

#promo code 변환 / 0 : promo_code를 사용하지 않은 경우
promo_code_mapping = {'AZ2022': 1, 'BUYMORE': 2, 'WEEKENDSERU': 3, 'XX2022': 4, 'LIBURDONG': 5, 'WEEKENDMANTAP': 6, 'SC2022': 7, 'STARTUP': 8}
click_stream_new['promo_code'] = click_stream_new['promo_code'].map(promo_code_mapping).fillna(0).astype('category')

#Success :1 / Failed :0 으로 변환 후 카테고리로 변환
click_stream_new['payment_status'] = click_stream_new['payment_status'].map({'Success' : 1, 'Failed' : 0}).astype('category')

click_stream_new['event_time'] = pd.to_datetime(click_stream_new['event_time'])

#null값 0으로 대체
click_stream_new['promo_amount'] = click_stream_new['promo_amount'].fillna(0).astype('int')
click_stream_new.info()

#사용하지 않는 컬럼 제거
click_stream_new.drop(columns = ['event_id'] , inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   event_name       category
 2   event_time       datetime64[ns, UTC]
 3   event_id         object
 4   traffic_source   category
 5   product_id       object
 6   quantity         int32
 7   item_price       int64
 8   payment_status   category
 9   search_keywords  category
 10  promo_code       category
 11  promo_amount     int64
dtypes: category(5), datetime64[ns, UTC](1), int32(1), int64(2), object(3)
memory usage: 697.6+ MB

In [14]:
click_stream_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   event_name       category
 2   event_time       datetime64[ns, UTC]
 3   traffic_source   category
 4   product_id       object
 5   quantity         int32
 6   item_price       int64
 7   payment_status   category
 8   search_keywords  category
 9   promo_code       category
 10  promo_amount     int64
dtypes: category(5), datetime64[ns, UTC](1), int32(1), int64(2), object(2)
memory usage: 599.7+ MB

In [15]:
click_stream_new.to_csv('click_stream_final.csv', index = False)

### customer 데이터 전처리 통합

In [16]:
# 데이터 로드
customer = pd.read_csv('/content/da/MyDrive/data/customer.csv', usecols = ['customer_id', 'gender', 'birthdate', 'home_location', 'first_join_date'])

In [17]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      100000 non-null  int64
 1   gender           100000 non-null  object
 2   birthdate        100000 non-null  object
 3   home_location    100000 non-null  object
 4   first_join_date  100000 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [18]:
# null값 없음
customer.isnull().sum()

customer_id        0
gender             0
birthdate          0
home_location      0
first_join_date    0
dtype: int64

In [19]:
# 중복값 없음
customer.duplicated().sum()

0

In [20]:
# 데이터 타입 변경
customer['gender'] = customer['gender'].astype('category')
customer['home_location'] = customer['home_location'].astype('category')
customer['first_join_date'] = pd.to_datetime(customer['first_join_date'])
customer['birthdate'] = pd.to_datetime(customer['birthdate'])

In [21]:
#가입 일자 기준 나이 & 현재 기준 나이 컬럼 생성
customer['age_join'] = (customer['first_join_date'].dt.year - customer['birthdate'].dt.year).astype('int32')
customer['age_now'] = (2022 - customer['birthdate'].dt.year).astype('int32')

In [22]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      100000 non-null  int64
 1   gender           100000 non-null  category
 2   birthdate        100000 non-null  datetime64[ns]
 3   home_location    100000 non-null  category
 4   first_join_date  100000 non-null  datetime64[ns]
 5   age_join         100000 non-null  int32
 6   age_now          100000 non-null  int32
dtypes: category(2), datetime64[ns](2), int32(2), int64(1)
memory usage: 3.2 MB

In [23]:
customer.to_csv('customer_final.csv', index = False)

### transaction_new 데이터 전처리 통합

In [33]:
transaction_new = pd.read_csv('/content/da/MyDrive/data/transaction_new.csv')

In [34]:
transaction_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254585 entries, 0 to 1254584
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   booking_id              1254585 non-null  object
 3   session_id              1254585 non-null  object
 4   payment_method          1254585 non-null  object
 5   payment_status          1254585 non-null  object
 6   promo_amount            1254585 non-null  int64
 7   promo_code              481139 non-null   object
 8   shipment_fee            1254585 non-null  int64
 9   shipment_date_limit     1254585 non-null  object
 10  shipment_location_lat   1254585 non-null  float64
 11  shipment_location_long  1254585 non-null  float64
 12  total_amount            1254585 non-null  int64
 13  product_id              1254585 non-null  int64
 14  quantity                1254585 non-null  int64
 15  item_price              1254585 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 153.1+ MB

In [35]:
# promo_code에만 결측치 / 0으로 대체
transaction_new.isnull().sum()

created_at                     0
customer_id                    0
booking_id                     0
session_id                     0
payment_method                 0
payment_status                 0
promo_amount                   0
promo_code                773446
shipment_fee                   0
shipment_date_limit            0
shipment_location_lat          0
shipment_location_long         0
total_amount                   0
product_id                     0
quantity                       0
item_price                     0
dtype: int64

In [36]:
# 중복값 없음
transaction_new.duplicated().sum()

0

In [37]:
transaction_new['created_at'] = pd.to_datetime(transaction_new['created_at'])
transaction_new['payment_method'] = transaction_new['payment_method'].astype('category')

#Success :1 / Failed :0 으로 변환 후 카테고리로 변환
transaction_new['payment_status'] = transaction_new['payment_status'].map({'Success' : 1, 'Failed' : 0}).astype('category')

#promo code 변환 / 0 : promo_code를 사용하지 않은 경우
#promo_code_mapping = {'AZ2022': 1, 'BUYMORE': 2, 'WEEKENDSERU': 3, 'XX2022': 4, 'LIBURDONG': 5, 'WEEKENDMANTAP': 6, 'SC2022': 7, 'STARTUP': 8}
transaction_new['promo_code'] = transaction_new['promo_code'].map(promo_code_mapping).fillna(0).astype('category')

#promocode 사용 여부
transaction_new['with_promo'] = transaction_new['promo_code'].apply(lambda x: 1 if x != 0 else 0).astype('category')

#사용하지 않는 컬럼 제거
transaction_new.drop(columns = ['shipment_date_limit', 'shipment_location_lat', 'shipment_location_long'], inplace = True)

transaction_new['quantity'] = transaction_new['quantity'].astype('int32')

In [38]:
transaction_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254585 entries, 0 to 1254584
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   created_at      1254585 non-null  datetime64[ns, UTC]
 1   customer_id     1254585 non-null  int64
 2   booking_id      1254585 non-null  object
 3   session_id      1254585 non-null  object
 4   payment_method  1254585 non-null  category
 5   payment_status  1254585 non-null  category
 6   promo_amount    1254585 non-null  int64
 7   promo_code      1254585 non-null  category
 8   shipment_fee    1254585 non-null  int64
 9   total_amount    1254585 non-null  int64
 10  product_id      1254585 non-null  int64
 11  quantity        1254585 non-null  int32
 12  item_price      1254585 non-null  int64
 13  with_promo      1254585 non-null  category
dtypes: category(4), datetime64[ns, UTC](1), int32(1), int64(6), object(2)
memory usage: 95.7+ MB

In [39]:
transaction_new.to_csv('transaction_final.csv', index = False)